<img src="https://i.ibb.co/Jpjn0jV/logo.png" width="150" height="150" alt="">
<center>Nanyang Technological University <br>
School of Biological Sciences<br>
<a href="https://sbsbiohackathon.com/"><strong>Biohackathon Club </strong></a> </center>
<hr>

Created by: Chua Swee Kwang
      

  
### Overview of pandas
<div class="alert alert-block alert-info">
<b>Tip:</b> Pandas stands for “Python Data Analysis Library. In computer programming, pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.
</div>

documentation here: http://pandas.pydata.org/pandas-docs/stable/<br>
<strong>Throughout this course, Pandas is used a to perform data analyses and data modeling workflows with Python</strong><br>
NumPy will also be used in this course but we won't cover much on it.

To get started, you need to import the following libraries. <br>
pandas and Numpy

```python
import pandas as pd
import numpy as np
```

But you can also type it in this way:

```python
import pandas
```
#### or
```python
import pandas as dog
```
<strong>Why pd or np?</strong> <br>
Instead of typing pandas or numpy as a prefix, we can simply type np or pd for pandas!<br> 
Also, pd and np, is a conventions way of importing pandas and numpy <br>

<br>
Whenever you see pd. in code, it’s referring to pandas.

In [1]:
# import pandas and numpy libraries
import pandas as pd
import numpy as np

## What is a DataFrame
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)<br>
<br>
**Instantiate a DataFrame from an external CSV file** use `pd.read_csv()`  <br>
Top 4 Conditions of Polyclinic Attendances. https://data.gov.sg/dataset/top-4-conditions-of-polyclinic-attendances

In [2]:
data_frame = pd.read_csv("top-4-conditions-of-polyclinic-attendances.csv")

`.head` to read 1st 5 rows. <br>
`.sample()` to read any rows randomly. Default is 1

In [3]:
data_frame.head()

,year,condition,percentage_diagnoses
0,2006,Hyperlipidemia,13.8
1,2006,Hypertensive Disease,17.2
2,2006,Acute Upper Respiratory Tract Infection includ...,11.9
3,2006,Diabetes Mellitus,8.6
4,2007,Hyperlipidemia,14.9

In [4]:
data_frame.sample(5)

    year             condition  percentage_diagnoses
27  2012     Diabetes Mellitus                   8.9
28  2013        Hyperlipidemia                  16.2
4   2007        Hyperlipidemia                  14.9
36  2015        Hyperlipidemia                  15.6
29  2013  Hypertensive Disease                  15.9

Check the columns data type in the data_frame using `df.dtypes` <br>

In [5]:
data_frame.dtypes

year                      int64
condition                object
percentage_diagnoses    float64
dtype: object

Check the column titles using `df.columns`

In [61]:
data_frame.columns

Index(['year', 'condition', 'percentage_diagnoses'], dtype='object')

Find out the shape of size of the datafram `df.shape`

In [62]:
data_frame.shape

(52, 3)

## Retrieve records and columns
We will now retrieve all the `percentage_diagnoses` data from the data frame. Use the column name to retrieve the column and store that as a new variable `percentage_diagnoses`.

In [7]:
percentage_diagnoses = data_frame["percentage_diagnoses"]

In [8]:
percentage_diagnoses.head()

0    13.8
1    17.2
2    11.9
3     8.6
4    14.9
Name: percentage_diagnoses, dtype: float64

Using `iloc` to retrieve that range of the data you want. <br>
`iloc[rows,cols]`

In [9]:
# Retrieve row 2 to 4 and all cols
data_frame.iloc[1:5,]

,year,condition,percentage_diagnoses
1,2006,Hypertensive Disease,17.2
2,2006,Acute Upper Respiratory Tract Infection includ...,11.9
3,2006,Diabetes Mellitus,8.6
4,2007,Hyperlipidemia,14.9

In [10]:
# Retrieve row 2 to 10 in 2 steps and all cols
data_frame.iloc[1:10:2,]

   year             condition  percentage_diagnoses
1  2006  Hypertensive Disease                  17.2
3  2006     Diabetes Mellitus                   8.6
5  2007  Hypertensive Disease                  17.3
7  2007     Diabetes Mellitus                   9.0
9  2008  Hypertensive Disease                  17.2

In [11]:
# Retrieve row 2 to 10 and only condition and percentage
data_frame.iloc[1:10, 1:]

                                           condition  percentage_diagnoses
1                               Hypertensive Disease                  17.2
2  Acute Upper Respiratory Tract Infection includ...                  11.9
3                                  Diabetes Mellitus                   8.6
4                                     Hyperlipidemia                  14.9
5                               Hypertensive Disease                  17.3
6  Acute Upper Respiratory Tract Infection includ...                  11.6
7                                  Diabetes Mellitus                   9.0
8                                     Hyperlipidemia                  15.5
9                               Hypertensive Disease                  17.2

### Filtering recrods
You can perform filtering by numberic value using comp. <br> <br>
For example, <br>
`df[df[""] > 10]`

In [15]:
# Filter the condition Diabetes Mellitus and store it as Diabetes_df.
diabetes_df = data_frame[data_frame["condition"] == "Diabetes Mellitus"]

In [16]:
diabetes_df.head()

    year          condition  percentage_diagnoses
3   2006  Diabetes Mellitus                   8.6
7   2007  Diabetes Mellitus                   9.0
11  2008  Diabetes Mellitus                   9.1
15  2009  Diabetes Mellitus                   9.1
19  2010  Diabetes Mellitus                   8.9

In [21]:
# Using a loop run through all the value in the percentage_diagnoses and find the largest percentage.
value = 0

for i in diabetes_df["percentage_diagnoses"]:
    if i > value:
        value = i

print(value)

9.3

**Try it:** Filtering all the percentage_diagnoses in Hypertensive Disease larger than 16  <br>

In [26]:
df = data_frame[data_frame["condition"] == "Hypertensive Disease"]

In [31]:
df = df[df["percentage_diagnoses"] >16]

In [32]:
df

    year             condition  percentage_diagnoses
1   2006  Hypertensive Disease                  17.2
5   2007  Hypertensive Disease                  17.3
9   2008  Hypertensive Disease                  17.2
13  2009  Hypertensive Disease                  16.6

In [60]:
df_2 = data_frame[(data_frame["condition"] == "Hypertensive Disease") & (data_frame["percentage_diagnoses"] >16)]
df_2

    year             condition  percentage_diagnoses
1   2006  Hypertensive Disease                  17.2
5   2007  Hypertensive Disease                  17.3
9   2008  Hypertensive Disease                  17.2
13  2009  Hypertensive Disease                  16.6